@font-face {
    font-family: 'Comfortaa-Light';
    src: url('Comfortaa-Light.ttf') format('truetype');
    font-family: 'Comfortaa-Regular';
    src: url('Comfortaa-Regular.ttf') format('truetype');
}

.outer-content-container {
    display: flex;
    flex-direction: column;
    width: 80vw;
    height: 70vh;
}

.navbar {
    height: 30%;
    display: flex;
    align-content: flex-end;
}

.main-content-container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ffd84b;
    border-radius: 5px;
    border: 5px solid black;
    font-family: "Comfortaa-Regular", sans-serif;
    font-size: 3em;
    height: 80%
}

.navitem {
    margin-right: 50px
}

body {
    background-color: #F5C20F;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-bottom: 0;
    margin-top: 0;
}