.left {
    float: left;
}

.mid {
    margin: auto;
}

.right {
    float: right;
}

.centerpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}

.maintext {
    margin: auto;
    text-align: center;
    font-family: "Comic Sans MS", sans;
    width: 100%;
    border: 3px solid green;
    padding: 10px;
}